body {
background: white;
text-align: center;

}

img {
	width:250px;
	height: 150px;
	margin: 15px;

}




.jumbotron h1 {
	text-align: center;
	font-family: 'Architects Daughter', cursive;	
}

.container{
	margin: 300px;
	text-align: center;

}
div {
	display: inline;
}

p {
	font-family: 'Architects Daughter', cursive;	
	text-align: center;
}

#result {
	font-weight: bolder;
	font-size: 60px;
	color: red;
}
.title{ 
	font-weight: bold;
	font-size: 60px;
	text-align: center;
 }

/*#rock, #paper, #scissors{
border-color: beige;
border-style: solid;
border-width: 10px;

}*/